{{/*
  Renders the subcategory + facet tag chips for a single resource page,
  driven by data/taxonomy_schema.yaml. Shared by layouts/resources/single.html
  (the generic template) and layouts/partials/resources/detail-card.html
  (Software & Tools / SaaS & Cloud Solutions / Services).
*/}}
{{ $sectionKey := path.Base (strings.TrimSuffix "/" .Parent.RelPermalink) }}
{{ $schema := index .Site.Data.taxonomy_schema $sectionKey }}
{{ $facets := slice }}
{{ with $schema }}
  {{ if .facets }}
    {{ $facets = .facets }}
  {{ else if .facets_by_subcategory }}
    {{ $seenKeys := slice }}
    {{ range .facets_by_subcategory }}
      {{ range . }}
        {{ if not (in $seenKeys .key) }}
          {{ $facets = $facets | append . }}
          {{ $seenKeys = $seenKeys | append .key }}
        {{ end }}
      {{ end }}
    {{ end }}
  {{ end }}
{{ end }}
{{ $chips := slice }}
{{ range .Params.subcategories }}{{ $chips = $chips | append (dict "value" . "path" "subcategories") }}{{ end }}
{{ $page := . }}
{{ range $facets }}
  {{ $fk := .key }}
  {{ $fp := .path }}
  {{ if ne $fk "country" }}
    {{ range (index $page.Params $fp) }}{{ $chips = $chips | append (dict "value" . "path" $fp) }}{{ end }}
  {{ end }}
{{ end }}
{{ with $chips }}
<div class="resource-tags">
  {{ range . }}<a href="{{ printf "/%s/" .path | relURL }}{{ .value | urlize }}/" class="resource-tag">{{ .value }}</a>{{ end }}
</div>
{{ end }}
